.check{
  height: 700px;
  width: 100%;
  /* background-image: url(/public/img/library.jpeg); */
  background-color: aqua;
}
h1{
  text-align:center ;
  font-size: 6em;
}
h2{
  font-size: 2em;
  text-decoration: underline;
}

.savedReview {
  font-size: 5.8rem
  padding 2px
}


img{
  height: 100px;

}

.middleSec{
  text-align: center;
}


.hidden{
  display: none;
}
